<!DOCTYPE html>
<html lang="en">

<head>
     {{>headerlinks}}
</head>
<body>

     <!--header part  -->
      {{>header}}
     <!-- section part -->
     <div class="container-fluid main_header">
          <div class="row">
               <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                       
                         <!-- right side div -->
                         <div class="col-md-4 col-8 main_header_right mx-auto align-items-center">
                              <figure>
                                   <img src="images/bg.jpg" alt="saeed barcha">
                              </figure>
                         </div>
                           <!-- left side div -->
                           <div class="col-md-6 col-12 main_header_left">
                              <p>Welcome to My Website</p>
                              <h1>I am a <span class="span_txt_color">Full stack</span> Developer</h1>
                              <a href="https://www.facebook.com">
                                <button class="my_btn" >About Me</button>
                              </a>
                           </div>
                    </div>
                    
               </div>
          </div>
     </div>     
   {{>footer}}
                  
            
</body>
<script src="js/main.js"></script>

</html>