@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
}
:root{
    --main-bg:rgb(30, 39, 46);
    --main-color:#0097e6;
}
html{
    font-size:51.5%
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;

}
.row{
    margin: 0px;
}
.main_menu{
     background-color:var(--main-bg); 
   
}
.navbar{
 color: #fff;
 background-color:var(--main-bg); 
 padding: 2rem 0;
}
.navbar a:hover{
  color: var(--main-color);
   }
.navbar li {
  margin-left: 17px;
}
.navbar a {
    color: #fff;
    font-size: 1.8rem;
}
.navbar-toggler{
    background-color: #fff;
}

.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color);
    margin:auto 3px;
}


@keyframes rot{
    0%{
        transform:rotate(0deg) ;
    }
    100%{
        transform:rotate(360deg) ;
    }
}
/* section css */
/* left main_header */
.my_header{
    display: flex;
    flex-direction: row;
}
.main_header_left{
    height: 50rem;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left p{
    font-size: 230%;

}
.main_header_left h1{
    font-size: 450%;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
    
}

/* about pabe css starts*/
.main_header_right figure img{
    width: 90%;
    height: auto;
    filter: drop-shadow( 0 0.5rem 1rem rgba(0, 0, 0, 0.9) );
    /* box-shadow: 0 8px 25px -6px var(--main-bg) ; */
}
/* about page css end*/

.main_header_left .span_txt_color{
    color: var(--main-color);
}
 .my_btn{
    border: none;
    padding: 0.8rem 3.3rem ;
    font-size: 150%;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 10px -6px #000 ;
    outline: none;
    margin: 0.8rem 0;
    outline: none;
}

.my_btn:hover{
    border: none;
    color: #fff;
    background-color: var(--main-bg);
    border: none;
    outline: none;
}
/* right main_header */
.main_header_right{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* footer css */
footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}
footer p{
    margin: 0px;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size:200%;
}
/* ///////////// weather css */

.temp_form{
    width: 60%;
    height: 5rem;
    display: flex;
    position: relative;
    /* background-color: rgb(237, 100, 230); */
    margin: 6rem auto 6rem;
}
.temp_form input[type="text"]{
    width: 100%;
    /* position: relative; */
    background-color:var(--main-bg) ;
    color: #fff;
    outline: none;
    border: none;
    font-size: 2rem;
    padding-left:1.5rem ;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    filter: drop-shadow( 0 .6rem 1rem rgba(0, 151, 230, 0.9) );


}
::placeholder{
    color: rgb(224, 230, 241);
}
.temp_form input[type="submit"]{

    height: 100%;
    width: 30%;
    color: #fff;
    background-color:#011b8d;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 2rem;
    border: none;
    outline: none;
    filter: drop-shadow( 0 .6rem 1rem rgba(30, 39, 46, 0.9) );
}
#submitBtn:focus{
    background-color: var(--main-color);
}
.tempInformation{
    width: 100%;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    /* padding: 1rem; */
    font-family: "Roboto" , sans-sherif;
}
.top_layer{
    width: 100%;
    height: 20%;
    background-color: #222530;
    /* background-color: #e7063e; */
    font-size: 196%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    /* padding: 2rem 0; */
}
.top_layer p{
    color: #fff;
    font-weight: 300;
    padding: 2rem ;
}
.main_layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 0.5rem;
}
.main_layer #city_name{
    padding: 2rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}
.main_layer .middle_layer{
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin-top: 1rem;
}
.main_layer .middle_layer p, .main_layer .middle_layer .fa{
    font-size: 5rem;
    font-weight: 900;
}
.fa{
    color:#28a1dd;
    margin-top: -3rem;
}
sup{
    font: size 6rem;
    margin: -2rem;
    margin-left: 3px;
    margin-right: 3px;
}
#today_date{
    padding-left: 23%;
}
/* .data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
} */
/* /////////////////////////////////////// */
/* error page css starts*/
#errImg{
    height: 20rem;
    width: 50rem;
    filter: drop-shadow( 0 0.5rem 1rem rgba(0, 0, 0, 0.4) );
    box-shadow: 0 8px 25px -6px var(--main-color) ;
}
#errP{
    margin-top: 3.5rem;
    margin-bottom:1.5rem ;
    font-size: 170%;
}


/* error page css ends*/

/* respomsive code */
@media (max-width:768px){
    .main_header_left{
        height: auto;
        margin: 2rem 0;
    }
    .main_header_right{
        height: auto;
        margin-top: 3rem 0;
        text-align: center;
    }
    .main_header_left p{
        font-size: 200%;
    
    }
    .main_header_left h1{
        font-size: 300%;
        margin: 0.7rem 0 2rem 0;
        text-transform: capitalize;
        
    }
    .main_header_left .span_txt_color{
        color: var(--main-color);
    }
  
    /* about page css start */
    .main_header_right figure img{
        margin-top: 2rem;
        width: 95%;
        height: auto;
        filter: drop-shadow( 0 0.5rem 1rem rgba(0,0,0, 0.3) );
        box-shadow: 0 8px 25px -6px var(--main-bg) ;
    }
    /* about page css end */


    /* error page */
    #errImg{
        margin-top: 4rem;
        width: 70%;
        height: auto;
        filter: drop-shadow( 0 0.5rem 1rem rgba(0,0,0, 0.4) );
        box-shadow: 0 8px 25px -6px var(--main-color) ;
    }
    #errP{
        margin-top: 3.5rem;
        margin-bottom:1.5rem ;
        font-size: 170%;
    }
 
}

